/* Open tickets */
.lastreply-max
	background-color #f87676 !important
.lastreply-med
	background-color #f8d676 !important
.lastreply-min
	background-color #95f876 !important
/* /Open tickets */
/* service*/
.secom-color,
	color #000
.adminvps-color
	color #000
.hostiman-color
	color #b45f04
.ua-hosting-color
	color #3366ff
.skt-color
	color #0000ff
.coopertino-color
	color #330066
/* /service*/